.card-content
  %h2.header.flow-text Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    
    = render "devise/shared/error_messages", resource: resource
    .row
      .input-field.col.s12
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: "email"
    .row
      .input-field.col.s12
        = f.label :password
        = f.password_field :password, autocomplete: "current-password"

    .row
      .input-field.col.s12
        %button.btn.waves-effect.blue-grey.darken-2.waves-light.white-text{type: 'submit'} Log in
= render "devise/shared/links"
