!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Concussion360
    %meta{name: "viewport", content: "width=max-device-width,initial-scale=1.0,user-scalable=no"}
    %meta{name: "HandheldFriendly", content: "true"}
    %script{:src => "https://js.stripe.com/v3/"}
    -# %link{:href => "MyCardElement.css", :rel => "stylesheet"}/

    -# %meta{:content => "no-cache", :name => "turbolinks-cache-control"}/

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'

  %body

    = render 'layouts/header'
    = react_component 'Snacks', {messages: flash.collect {|name, msg| msg}, variant: 'info'}, prerender: false

    - if devise_controller?
      .valign-wrapper
        .container
          .row
            .col.card.s12.m6.offset-m3
              .card-content
                = yield

    - unless @full
      .container
        .row
          = yield
    - else
      = yield

    // :javascript
    //   const $mainLoader = $('#main-loader');
