!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Eduvids
    %meta{name: "viewport", content: "width=max-device-width,initial-scale=1.0,user-scalable=no"}
    %meta{name: "HandheldFriendly", content: "true"}
    -# %meta{:content => "no-cache", :name => "turbolinks-cache-control"}/

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'

  %body.blue-grey.lighten-5

    = render 'layouts/header'
    = react_component 'Snacks', {messages: flash.collect {|name, msg| msg}, variant: 'info'}, prerender: false

    - if devise_controller?
      .valign-wrapper
        .container
          .row
            .col.card.s12.m6.offset-m3.blue-grey-text.text-darken-2
              .card-content
                = yield

    - unless @full
      .container
        .row
          = yield
    - else
      = yield

    // :javascript
    //   const $mainLoader = $('#main-loader');
